* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 1rem; 
    width: 90%;
    min-width: 350px;
    max-width: 450px;
    /* border: solid 10px #232c33ff;
    padding: 1rem; */
    /* background-color: #60656fff; */
}

header {
    display: flex;
    height: 75px;
    border: solid 5px#60656fff;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    box-shadow: 3px 2px 2px #232c33ff;

}

.calc-color {
    background-color: rgba(96, 101, 111, 0.5);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #232c33ff;
}

.clear-btn {
    width: 25%;
    text-align: center;
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
    color: #232c33ff;
    border-radius: 5px;
}

.display {
    width: 75%;
    text-align: right;
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
    color: #232c33ff;
    overflow: hidden;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-flow: wrap;
}

li button {
    font-size: 3rem;
    background-color: #dadff7ff;
    width: 95%;
    height: 95%;
    font-family: 'Orbitron', sans-serif;
    color: #232c33ff;
    border-radius: 10px;
    box-shadow: 3px 2px 2px #232c33ff;
    background-image: linear-gradient(to bottom right, rgba(100,100,100,0), rgba(100,100,100,0.75))

}

li {
    width: 25%;
    height: 100px;
    list-style: none;
    
}

.clear-btn {
    background-color: #a6d9f7ff;
    border-right: solid 5px #60656fff;
    box-shadow: 3px 2px 2px #232c33ff;
    background-image: linear-gradient(to bottom right, rgba(100,100,100,0), rgba(100,100,100,0.5))
}

.nonnum {
    background-color: #defffcff;
}

.math {
    background-color: #a6d9f7ff;
}